@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary-clr: #912BBC;
    --btn-clr: #7d1ac8;
    --timer-bg: #FF204E;
}

.primary__bg {
    background-color: var(--primary-clr);

}

.secondary__bg {
    background-color: #FFF7FC;
}

.timer__bg {
    background-color: var(--btn-clr);
    color: #FFFFFF;
}

.border__style {
    border: 1px solid silver;
}

.btn {
    padding: 0.75rem;
    border: none;
    outline: none;
    background-color: var(--btn-clr);
    color: #FFFFFF;
}